.header{
    display: flex;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
    
}
.lotto{
    line-height: 1.8rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: inline-block;
    margin: 0.3rem;
}
.lotto:nth-child(odd){
    background-color: palevioletred;
}
.lotto:nth-child(even){
    background-color: slategray;
}